[submodule "nvmain"]
	path = nvmain
	url = git@github.com:willson0v0/NVMain.git
[submodule "gem5"]
	path = gem5
	url = git@github.com:willson0v0/Gem5.git
[submodule "kernel"]
	path = kernel
	url = git@github.com:willson0v0/ParchKernel.git
[submodule "testbench"]
	path = testbench
	url = git@github.com:willson0v0/ParchTestbench.git
